page-login {
    ion-scroll
    {
        white-space: nowrap;
        height: 50px;
    }
    .flex-align-inline
    {
        display: inline-flex;
        justify-content: space-between;
        width: 100%;        
    }


     .item-text-area
     {
         width: 45% !important;
         .text-area-nota textarea{
             height: 10rem;
         }         
     }
     .tags{
        white-space: nowrap;
        height: 20px;
        .scroll-content{
            padding:0px !important;
        }         
     }
    .item-input-has-focus .label-md[stacked],
    .input-has-focus .label-md[stacked],
    .item-input-has-focus .label-md[floating],
    .input-has-focus .label-md[floating],
    {
    color: #3df5d6 !important;
    }
 
}
